<!--The content below is only a placeholder and can be replaced.-->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="p-2">
    <a class="navbar-brand" class="text-light" [routerLink]="['/scheduler']">{{ title }}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto p-2">
        <li class="nav-item active">
          <a class="nav-link text-light" [routerLink]="['/scheduler']">Home <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Spinner -->

  <mat-progress-spinner 
      *ngIf="!events"
      color="primary"
      mode="indeterminate"
      class="mx-auto mt-5">
  </mat-progress-spinner>
  <div class="container p-5">
    <h3 class="text-center">Calendrier des réservations</h3>
  </div>
  
  <div class="calendar-container" *ngIf="events">
      <div class="row mt-4">
          <div class="col-md-4 text-left">
          </div>
          <div class="col-md-4 text-center">
              <h3 class="mt-0">{{ viewDate | calendarSchedulerDate:(view + 'ViewTitle'):locale:weekStartsOn:excludeDays:viewDays:startsWithToday }}</h3>
              <select #viewDayOptionSelect1 class="form-select d-none d-md-block d-xl-none" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect1.value)">
                  <option [value]="1">Jour</option>
                  <option [value]="3">3 Jours</option>
                  <option [value]="7">Semaine</option>
              </select>
          </div>
          <div class="col-md-4 text-right">
              <div class="row">
                  <div class="col-6 d-md-none d-xl-flex col-xl-6 valign-center text-right">
                      <select #viewDayOptionSelect2 class="form-select m-1" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect2.value)">
                          <option [value]="1">Jour</option>
                          <option [value]="3">3 Jours</option>
                          <option [value]="7">Semaine</option>
                      </select>
                  </div>
                  <div class="col-6 col-md-12 col-xl-6">
                      <div class="btn-group m-1" role="group">
                          <button type="button" class="btn btn-primary"
                                  mwlCalendarPreviousView
                                  [view]="view"
                                  [(viewDate)]="viewDate"
                                  [daysInWeek]="viewDays"
                                  [excludeDays]="excludeDays"
                                  [disabled]="prevBtnDisabled"
                                  (viewDateChange)="dateOrViewChanged()">
                              <span class="valign-center">
                                  <i title="Precedente"
                                      class="material-icons md-18">keyboard_arrow_left</i>
                              </span>
                          </button>
                          <button type="button" class="btn btn-light"
                                  mwlCalendarToday
                                  [(viewDate)]="viewDate"
                                  (viewDateChange)="dateOrViewChanged()">
                              <span class="valign-center">
                                  <i title="Oggi"
                                      class="material-icons md-18">today</i>
                              </span>
                          </button>
                          <button type="button" class="btn btn-primary"
                                  mwlCalendarNextView
                                  [view]="view"
                                  [(viewDate)]="viewDate"
                                  [daysInWeek]="viewDays"
                                  [excludeDays]="excludeDays"
                                  [disabled]="nextBtnDisabled"
                                  (viewDateChange)="dateOrViewChanged()">
                              <span class="valign-center">
                                  <i title="Successivo"
                                      class="material-icons md-18">keyboard_arrow_right</i>
                              </span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <br>
    <div [ngSwitch]="view">
          <calendar-scheduler-view *ngSwitchCase="CalendarView.Week"
                                  [viewDays]="viewDays"
                                  [viewDate]="viewDate"
                                  [events]="events"
                                  [locale]="locale"                               
                                  [responsive]="false"
                                  [weekStartsOn]="weekStartsOn"
                                  [excludeDays]="excludeDays"
                                  [startsWithToday]="startsWithToday"
                                  [hourSegments]="hourSegments"
                                  [dayStartHour]="dayStartHour"
                                  [dayEndHour]="dayEndHour"
                                  [dayModifier]="dayModifier"
                                  [hourModifier]="hourModifier"
                                  [segmentModifier]="segmentModifier"
                                  [eventModifier]="eventModifier"
                                  [showEventActions]="true"
                                  [showSegmentHour]="true"
                                  [zoomEventOnHover]="true"
                                  (viewDaysChanged)="viewDaysChanged($event)"
                                  (dayHeaderClicked)="dayHeaderClicked($event.day)"
                                  (hourClicked)="hourClicked($event.hour)"
                                  (segmentClicked)="segmentClicked('Clicked',$event.segment)"
                                  (eventClicked)="eventClicked('Clicked', $event.event)"
                                  (eventTimesChanged)="eventTimesChanged($event)"
                                  [refresh]="refresh">
          </calendar-scheduler-view>
      </div>
  </div>
  <!-- footer -->
  <nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <!---->
        </div>
        <div class="col">
            <!---->
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center"><a class="text-light" href="#">&copy;Ted Viny 2022</a></div>
            <div class="col-md-4"></div>
        </div>
        </div>
        </div>
  </nav>
  
  
